* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-height: 100dvh;
  overflow: hidden;
  background: #9dbde3;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  .weather {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .map {
    height: 70dvh;
    width: 200dvw;
    background: #415d3b;
    border-radius: 50% 50% 0 0;
    transform: translateX(-25%);
    display: flex;
    justify-content: center;
    align-items: center;
    #map {
      height: 50dvh;
      width: 50dvw;
    }
  }
}
