$background-color: #9dbde3;
$second-color: #466345;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-height: 100dvh;
  overflow: hidden;
  background: $background-color;
}

main {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  .weather {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
    .side {
      width: 50dvw;
      gap: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      &.text {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    i {
      font-size: 12rem;
    }
  }
  .time_weather {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 12px;
    padding: 20px;
    #time, #temperature {
      min-width: 100dvw;
      max-width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background: lighten($background-color, 5);
    }
  }
  .map {
    height: 60dvh;
    width: 200dvw;
    background: $second-color;
    border-radius: 50% 50% 0 0;
    transform: translateX(-25%);
    display: flex;
    justify-content: center;
    align-items: center;
    #map {
      height: 50dvh;
      width: 50dvw;
    }
  }
}
